<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definir los beans de Spring aquí -->
    <bean id="taskRepository" class="com.example.demo.repository.TaskRepositoryImpl"/>
    <!-- Definir el bean para TaskServiceImpl y establecer la dependencia en el constructor -->
    <bean id="taskService" class="com.example.demo.TaskServiceImpl">
        <constructor-arg ref="taskRepository"/>
    </bean>

</beans>
